<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <img src="~/images/envelope-email.png" width="25" height="25" style="margin: 0.25rem" class="img-fluid" />
            <email endereco="heberteoflo123@gmail.com" conteudo="Enviar um e-mail"></email>
            <br />
            <img src="~/images/celular1.png" width="25" height="25" style="margin: 0.25rem" class="img-fluid" />
            (11) 9874-5566
            <br />
            <img src="~/images/home.png" width="25" height="25" style="margin: 0.25rem" class="img-fluid" />
            Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo
        </p>
    </div>
</div>
